<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("cat.png") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">
      Search
    </a>
    <%= link_to "Add flat", new_flat_path, class: 'btn-blue' %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/SoundOfSun" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
          </li>
          <li>
            <%= link_to new_flat_path do%>
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Flat
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Search</a></li>
        <li>
          <%= link_to "Add flat", new_flat_path%>
        </li>
      </ul>
    </div>
  </div>
</div>
